h1{
    background-color: lightblue;
    color: antiquewhite;
    border: 3px solid lightblue ;
    margin: 25px 10px 15px 0px;
    
}

.links{
    margin: 20px 10px 5px 400px;
}

h2{
    color: lightblue;
    border: 5px solid antiquewhite ;
    width: 30vw;
    margin: 25px 10px 15px 0px;
   
}

th{
    color: lightblue;
}

td{
    color: grey;
}

img{
    width: 15vw;
    height: 15vh;
    border: 4px solid lightblue;
}

